<div class="container-30">

  <%= image_tag "logo.png" %>

  <h1>Sign in to Bati-events</h1>

  <%= render "form", user: @user %>

  <p>Don't have an account sign up <%= link_to "here", signup_path %></p>

</div>