<div class="container-30">

  <%= image_tag "logo.png" %>

  <h1>Sign up to Bati-events</h1>

  <%= render "form", user: @user %>

  <p>Already have an account log in <%= link_to "here", login_path %></p>

</div>