<div class="container-80">
  <h1><%= current_user.name %>'s Events Profile</h1>
  <div class="events-container">
    <div>
      <h2>Hosted Events</h2>
      <p>asdf</p>
    </div>
    <div>
      <h2>Upcoming Events</h2>
      <p></p>
    </div>
    <div>
      <h2>Attended Events</h2>
      <p></p>
    </div>
  </div>
</div>